absl-py==2.1.0
annotated-types==0.7.0
anyio==4.6.2.post1
boto3==1.35.63
botocore==1.35.63
build==1.2.1
certifi==2024.2.2
cffi==1.17.0
charset-normalizer==3.3.2
clarabel @ file:///home/conda/feedstock_root/build_artifacts/clarabel_1697088754245/work
click==8.1.7
contourpy==1.2.0
cryptography==43.0.0
cvxpy @ file:///home/conda/feedstock_root/build_artifacts/cvxpy-split_1708890476237/work
cycler==0.12.1
-e git+ssh://git@github.com/YSulehman/dcp_vga.git@96a9101c46e06ee07562fa30c5481c221124dc3d#egg=dcp_vga
distro==1.9.0
docutils==0.21.2
ecos @ file:///home/conda/feedstock_root/build_artifacts/ecos_1707295323050/work
efficientnet_pytorch==0.7.1
filelock==3.9.0
filetype==1.2.0
fire==0.7.0
fonttools==4.49.0
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.68.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.24.7
idna==3.7
imageio==2.34.0
importlib_metadata==8.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jeepney==0.8.0
Jinja2==3.1.2
jiter==0.6.1
jmespath==1.0.1
joblib==1.4.2
keyring==25.3.0
kiwisolver==1.4.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.3
mdurl==0.1.2
more-itertools==10.4.0
mpmath==1.3.0
munch==4.0.0
networkx==3.2.1
nh3==0.2.18
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225359967/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=031b7d6b2e5e604d9e21fc21be713ebf28ce133ec872dce6de006742d5e49bab
openai==1.52.2
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84
osqp @ file:///home/conda/feedstock_root/build_artifacts/osqp_1696560924881/work
packaging==23.2
pandas==2.2.1
pillow==11.0.0
pkginfo==1.10.0
pretrainedmodels==0.7.4
protobuf==5.28.3
psutil==6.1.0
py-cpuinfo==9.0.0
pybboxes==0.1.6
pybind11==2.13.5
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pyparsing==3.1.1
pyproject_hooks==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.2
qdldl @ file:///home/conda/feedstock_root/build_artifacts/qdldl-python_1702901099585/work
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
roboflow==1.1.49
s3transfer==0.10.3
safetensors==0.4.5
sahi==0.11.18
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1706041474046/work/dist/scipy-1.12.0-cp312-cp312-linux_x86_64.whl#sha256=455585fb13f602615d4e6633d9becf631347243101f5b6983e5718c2dd364888
scs @ file:///home/conda/feedstock_root/build_artifacts/scs_1707387081947/work
seaborn==0.13.2
SecretStorage==3.3.3
segmentation-models-pytorch==0.3.4
setuptools==75.3.0
shapely==2.0.6
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sympy==1.12
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
timm==0.9.7
torch==2.2.1+cpu
torchaudio==2.2.1+cpu
torchvision==0.17.1+cpu
tqdm==4.67.0
twine==5.1.1
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.3.28
ultralytics-thop==2.0.11
urllib3==2.2.1
Werkzeug==3.1.3
wheel==0.42.0
yolov5==7.0.14
zipp==3.20.0
